body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  height: 200vh;
  position: relative; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible; }

p {
  color: #000;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.site-navbar-wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0; }
  .site-navbar-wrap a {
    color: #fff; }
  .site-navbar-wrap .site-navbar-top {
    font-size: 0.8rem; }

.site-navbar-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

.site-navbar {
  background:#5B4AFF;
  margin-bottom: 0px;
  width: 100%; }
  .site-navbar .site-logo {
    font-weight: 200;
    line-height: 0;
    position: relative; }
    .site-navbar .site-logo a {
      font-weight: 200;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block;
      font-weight: 500; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 10px 5px; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 20px 10px;
        color: #ffffff; /* Cambio de color al menú*/
        font-size: 15px;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a.active {
          color: #000; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #000; }
      .site-navbar .site-navigation .site-menu > li:last-child {
        padding-right: 0; }
        .site-navbar .site-navigation .site-menu > li:last-child > a {
          padding-right: 0; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: -15px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s;
        border-radius: 4px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          font-size: 14px;
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
            color: #007bff; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #fff !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li:first-child > a {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li:last-child > a {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #ebeef0;
              color: #212529; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #ebeef0;
            color: #212529; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #000; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #dee2e6; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a.active, .site-mobile-menu .site-nav-wrap a:hover {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper + .site-blocks-cover {
    margin-top: 96px; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .sticky-wrapper .site-navbar ul li.active a {
      color: #000; }
  .sticky-wrapper.is-sticky .site-navbar {
    background-color: #5B4AFF; }
    .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 10px 5px; }
      .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li:last-child {
        padding-right: 0; }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li:last-child > a {
          padding-right: 0; }
      .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li.has-children > a {
        padding-right: 20px; }
      .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 10px;
        color: #000;
        font-size: 15px; }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #000 !important; }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a.active {
          color: #000 !important; }
      .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li.active a {
        color: #000; }

.media-29101{background:#FFF; padding:5px; border-radius:8px; width:220px;}
.media-29101 img {
  margin-bottom: 20px; }

.media-29101 h3 {
  font-size: 18px;
  font-weight: 900 !important; }
  .media-29101 h3 a {
    color: #6c757d; }

.owl-2-style .owl-nav {
  display: none; }

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -0px; }
  .owl-2-style .owl-dots .owl-dot {
    display: inline-block; }
    .owl-2-style .owl-dots .owl-dot span {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50px;
      background: #cccccc;
      -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      margin: 30px 10px 0px 0px; }
    .owl-2-style .owl-dots .owl-dot.active span {
      background: #007bff; }
    .owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
      outline: none; }


/* _________________________________________  */

/* Estilo adicional para aumentar el tamaño de las estrellas */
.stars i {
    font-size: 1.5rem;
    margin-right: 5px; /* Ajusta el valor según sea necesario */
}

/* Ajuste de tamaño del card y sombra */
.custom-card {
    max-width: 1200px;
    width: 100%;/* Hace que el card ocupe el ancho completo */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Agrega sombra */
    margin: 2rem auto; /* Centra el card horizontalmente con un margen superior */
    position: relative; /* Permite posicionar elementos relativos a este contenedor */
    overflow: hidden; /* Oculta el contenido que se desborda del contenedor */
   align-items: center;
}

/* Añade espaciado entre las filas en dispositivos pequeños */
.custom-card .row {
    margin-bottom: 1rem;
}

/* Estilo para la lista de redes sociales */
.social-list {
    list-style: none;
    padding: 0;
}

.social-list p {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
}

/* Estilo para la portada */
.portada {
    width: 100%;
    height: 40%; /* Ajusta la altura según sea necesario */
    background-size: cover;
    background-position: top;
}

/* Estilo para el cuadro encima de la portada */
.cuadro-encima,
.cuadro-encima2 {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
}

.cuadro-encima2 {
    top: 100px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadro-encima2 p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
}

.cuadro-encima2 i {
    margin-right: 5px; /* Ajusta el espacio entre el ícono y el texto */
}


  /* INDEX */
.reor{margin-top:-3px; z-index:9; position:relative;}
.corrector_nav1{padding:10px 20px!important; color:#000;}
.corrector_nav{padding:10px 20px!important; background:#EFEFEF; margin:0 10px; border-radius:5px; color:#5B4AFF; font-size:16px; font-weight:600; cursor:pointer;}
.corrector_nav:hover{background:#5B4AFF; color:#FFF!important; }
.corrector_nav_hover{background:#5B4AFF; color:#FFF!important; }
.topright{color:#FFF; font-size:36px; margin-right:-30px; display:flex; justify-content:flex-end; cursor:pointer;}

.distritoc label{padding-top:5px; font-weight:600;}
.distritoc .form-select{padding:8px 10px; border-radius:5px; border:0px solid #ced4da; color:#5B4AFF; width:200px; font-size:14px; font-weight:600; background: url(../img/arrow_down.png) no-repeat right #EFEDFF; -webkit-appearance: none;
    background-position-x: 170px;}

.nav_titulo{color:#5B4AFF;}
.m-division{margin-top:10px;}
.espacio_eredado{height:80px;}
.bg-azul{background:#5B4AFF;}
.bg-footer{background:#010039;}
.linen{border-top:1px solid #363354;}
.bus{border-top-left-radius:0px; border-bottom-left-radius:0px; border-top-right-radius:50px; border-bottom-right-radius:50px; width:100px; background:#CDCDCD; border:0px;}
.pie{justify-content:center; width:100%;}
.form-control{padding:30px 20px 30px 40px; background:#CDCDCD; border:0px; border-bottom-left-radius:50px; border-top-left-radius:50px; color:#FFF; font-weight:600;}
.form-control::placeholder{color:#FFF; font-weight:600;}
.form-control:focus{padding:30px 20px 30px 40px; background:#CDCDCD; border:0px; border-bottom-left-radius:50px; border-top-left-radius:50px; color:#FFF; font-weight:600;}

  /* MENU  */
.limitador{border-right:1px solid #d5d5d5;}
.spacing1{padding-right:40px!important;}
.spacing2{padding-left:40px!important;}
.font11{font-size:11px;}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font16{font-size:16px;}
.font17{font-size:17px;}
.font18{font-size:18px;}
.font19{font-size:19px;}
.font20{font-size:20px;}
.font21{font-size:21px;}
.font22{font-size:22px;}
.font23{font-size:23px;}
.font24{font-size:24px;}
.width100{width:100%;}
.w-820{max-width:820px; margin:0 auto;}
.mt-l{padding-top:210px;}
.dia_activo{background:#5B4AFF!important; color:#FFF;}
.dia_activo p{color:#FFF;}
.dia_activo h3{color:#FFF;}
.dia_noactivo{background:rgba(91, 74, 255, 0.1)!important; color:#FFF;}

.lineabaja{text-align:center; position:relative;}
.lineabaja:before{border-top:2px ; content:""; margin:0 auto; position:absolute; top:115%; left:0; right:0; bottom:0; width:12%;}

.lineabajo{text-align:center; position:relative;}
.lineabajo:before{border-top:4px solid #000;; content:""; margin:0 auto; position:absolute; top:115%; left:0; right:0; bottom:0; width:30%; border-radius:10px;}
.utils [class^="border"]{display:inline-block; width:8rem; height:7rem; margin:0.25rem; background-color:#E4E4E4; border-radius:10px; text-align:center;}

/* WSP */
.cuadro-btn{position:fixed; bottom:22px; right:40px; z-index:8888; width:150px; height:55px; border-radius:8px; padding-left:50px; line-height:15px; background-color:#FFF; display:flex; align-items:center; justify-content:center; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; color:#5B4AFF; font-weight:600;}

.whatsapp-btn{position:fixed; bottom:20px; right:160px; z-index:9999; width:60px; height:60px; border-radius:50%; background-color:#5B4AFF; display:flex; align-items:center; justify-content:center; box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
  animation: breathe 2s ease-in-out infinite;}
.whatsapp-btn i{color:#fff; font-size:24px; animation:beat 2s ease-in-out infinite; text-decoration:none;}
@keyframes breathe{
  0% {
    box-shadow: 0 0 0 0 rgba(91, 74, 255);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes beat{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.img-fluid2{width:100%; height:auto;}
/*.img-fluid2{display:flex; margin:0 auto; width:266px; height:200px;}*/




/* movil  */
@media only screen and (max-width: 767px){
    .cuadro-encima2{top:85px; width:50%}
    .cuadro-encima{width:100%;}
    .custom-card{border-radius:15px;}
    .card-title{text-align:center;}
    .stars{text-align:center;}

    .limitador{border-right:0px;}
    .spacing1{padding-right:15px!important; margin-bottom:20px;}
    .spacing2{padding-left:15px!important;}

    .demimv{width:50%; padding-top:15px;}
    .demimv:last-child{border-left:1px solid #d5d5d5!important;}

    .mt-l{padding-top:310px;}

    /* INDEX */
    .valor_c{display:block!important;}
    .valor_c span{display:none!important;}
    .corrector_nav1{padding:10px!important; background:#919191; position:relative; display:inline-block; width:auto; border-radius:5px; color:#FFF; margin-top:20px;}
    .corrector_nav{padding:10px!important; background:#919191; position:relative; display:inline-block; width:auto; border-radius:5px; color:#FFF; margin-top:20px;}
    .pie{margin-right:0px; margin-left:0px;}

    .img-fluid2{display:flex; margin:0 auto; width:266px; height:200px;}
    
}

/* color de sting  */
.sting{
  background-color: #5B4AFF;
}


/* color de footer  */
.footer-sting{
  background-color: #010039;
  ;
}

/* color de footer  */
.text-sting{
  color: #5B4AFF;
  font-weight: bold;
  font-weight: 200px;
}

/* texto blanco relleno  */
.text-blanco{
  color: #FFF;
  font-weight: bold;
  font-weight: 200px;
}

/* color estrellas */

.estrella-sting{
  color:#0AFFC2;
}

.icon-sting{
  color: #5B4AFF;
  font-weight: bold;
  font-weight: 200px;
}

.btn-light:hover {
  color: #212529;
  background-color: #0AFFC2;
  border-color: #0AFFC2;
}




