body {
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #fff;
    height: 200vh;
    position: relative; }
    body:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden;
      z-index: 1; }

  .card-window {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 350px; /* Puedes ajustar el ancho según tus necesidades */
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .logo-window {
    flex: 0 0 45%; /* La imagen ocupa el 45% del card y no se expande */
    margin-right: 20px;
  }

  .logo-window img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .info-window {
    flex: 1; /* La información ocupa el espacio restante */
  }

  .name-window {
    font-size: 24px;
    font-weight: bold;
  }

  .title-window {
    font-size: 18px;
    font-weight: bold;
  }

  .distrito-window, .phone-window {
    font-size: 16px;
  }