/* Estilos para el área de carga de imágenes */
.image-upload-container {
  width: 800px; /* Ancho del contenedor */
  height: 300px;
  margin: auto; /* Centrar el contenedor */
  border: 3px dashed #D9D9D9;
  border-radius: 8px;
  padding: 20px;
  margin-top: 80px;
  text-align: center;
  float: left;
  margin-bottom: 20px;
}

.image-upload-progress {
  display: none;
  margin-top: 10px;
}

.progress-bar {
  height: 20px;
  background-color: #28a745;
}

.file-input-label {
  margin-top: 70px;
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

.file-input {
  width: auto;
  margin-bottom: 10px;
  margin-top: 5px
}

.text-muted {
  font-size: 12px;
}

.formulario{
    border-radius: 8px;
}

.botones-container {
    padding: 10px;
    margin-bottom: 30px;
    border-radius:50px;
    margin-right: 80px;
    font-weight: bold;
    width: 250px;
    

}
.separar{
    padding-left: 20px;
}

.p{
  font-weight: bold;
  text-align: center;
}



.rounded-button {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.rounded-input {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

.rounded-form {
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);;
  overflow: hidden;
}
.rounded-form-inner {
  border: 1px solid #ced4da; /* Ajusta el color del borde según tu preferencia */
  border-radius: 15px;
  overflow: hidden;
}

.transparent-background{
  background-color: rgba(255, 255, 255, 0.7); 
  border: 2px dashed #ccc;
}

@media only screen and (max-width: 767px){
  .image-upload-container {width:355px; height:305px; font-size:12px; flex-direction:column;}
  .botones-container{width:120px; margin-bottom: 30px; font-size:12px; margin-right: 30px;  margin-top: -20px;}
  .separar{
    padding-left: 55px;
  }
  .file-input{font-size:10px;}
  .file-input-label{font-size:15px;}
}